<%- include('header') -%>


<section id="client-section" class="site-section" data-aos="fade" style="padding: 0%;">
    <hr class="one" color="gray">
    <div class="container">
        <div style="padding-top: 3rem;" class="row jsutify-content-center mb-5 text-center">
            <div class="col-xs-4 mlg-4 col">
              <h2 style ="margin-bottom: 0rem;">자격증</h2>
            </div>
        </div>
        <div style="padding-top: 0rem;" class="row jsutify-content-center mb-5 text-center">
            <div class="col-md-3 mlg-4 col" style="padding: 1rem;">
                <img src="../images/certification1.png" width="260rem" height="492rem">
            </div>
            <div class="col-md-3 mlg-4 col" style="padding: 1rem;">
                <img src="../images/certification2.png" width="260rem" height="492rem">
            </div>
            <div class="col-md-3 mlg-4 col" style="padding: 1rem;">
                <img src="../images/certification3.png" width="260rem" height="492rem">
            </div>
            <div class="col-md-3 mlg-4 col" style="padding: 1rem;">
                <img src="../images/certification4.png" width="260rem" height="492rem">
            </div>
        </div>
    </div>
  </section>


<%- include('footer') -%>