<%- include('header') -%>


<section id="client-section" class="site-section" data-aos="fade" style="padding: 0%;">
    <hr class="one" color="gray">
    <div class="container">
      <div style="padding-top: 3rem;" class="row jsutify-content-center mb-5 text-center">
        <div class="col-xs-4 mlg-4 col">
            <img src="../images/facilityclients.png" alt="chart">
        </div>
        <div style="margin-top: 4rem;" class="col-xs-4 mlg-4 col">
            <img src="../images/elseclients.png" alt="chart">
        </div>
      </div>
    </div>
  </section>


<%- include('footer') -%>