<%- include('header') -%>
<% var historyList = JSON.parse(history) %>

<section id="history-section" class="site-section" data-aos="fade" style="padding: 0%;">
    <div class="container">
      <div style="padding-top: 3rem;" class="row jsutify-content-center mb-5 text-center">
        <div class="col-md-12 mlg-4 col">
          <table style="color: black; font-size: 1rem;" class="table table-bordered">
            <tbody>
            <% for(var i =0; i < historyList.length; i++) {%>
              <tr>
                <th><%= historyList[i].year %> </th>
                <td><%= historyList[i].content %> </td>
              </tr>
            <% } %>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

<%- include('footer') -%>