<%- include('header') -%>
<% var overviewList = JSON.parse(overview) %>


<section id="overview-section" class="site-section" data-aos="fade" style="padding: 0%;">
    <hr class="one" color="gray">
    <div class="container">
      <div style="padding-top: 3rem;" class="row jsutify-content-center mb-5 text-center">
        <div class="col-md-12 mlg-4 col">
          <table style="color: black; font-size: 1rem;" class="table">
            <% for(var i =0; i < overviewList.length; i++) {%>
            <tbody>
              <td style="color: crimson;"><%= overviewList[i].title %> </td>
              <td><%= overviewList[i].content %> </td>
            </tbody>
            <% } %>
          </table>
        </div>
        <div class="row">
          <div class="col-sm">
            <img src="../images/overview_1.png" style="width: 80%;" alt="overview_1">
          </div>
          <div class="col-sm">
              <img src="../images/overview_2.png" style="width: 80%;" alt="overview_2">
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <%- include('footer') -%>
