<%- include('header') -%>

<section id="section-introduce">
	<hr class="one" color="gray">
	<div class="container">
		<div class="row">
			<div class="col text-center justify-content-center ">
				<h2>스마트 시설관리 시스템 개요 </h2>
				<img class="my-img" src="/images/facility_system.png" alt="스마트 시설관리 시스템 개요">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col text-center justify-content-center ">
				<h2>스마트 빌딩 운영시스템 특징점</h2>
				<img class="my-img" src="/images/facility_system_feature.png" alt="스마트 빌딩 운영시스템 특징점">
			</div>
		</div>
	</div>
</section>
<section id="section-status">
	<div class="container">

	</div>
</section>

<%- include('footer') -%>