</div> <!-- .site-wrap -->

<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="/javascripts/jquery-migrate-3.0.1.min.js"></script>
<script src="/javascripts/jquery-ui.js"></script>
<script src="/javascripts/popper.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/javascripts/jquery.stellar.min.js"></script>
<script src="/javascripts/jquery.countdown.min.js"></script>
<script src="/javascripts/bootstrap-datepicker.min.js"></script>
<script src="/javascripts/jquery.easing.1.3.js"></script>
<script src="/javascripts/aos.js"></script>
<script src="/javascripts/jquery.fancybox.min.js"></script>
<script src="/javascripts/jquery.sticky.js"></script>
<script src="/javascripts/typed.js"></script>
<script src="/javascripts/main.js"></script>

</body>

</html>