extends layout

block content
  .site-blocks-cover.overlay(style='background-image: url(images/<%=backgroundImg%>);' data-aos='fade' data-stellar-background-ratio='0.5')
  .container
    .row.align-items-center.justify-content-center.text-center
      .col-md-12(data-aos='fade-up' data-aos-delay='400')
        .row.justify-content-center.mb-4
          .col-md-8.text-center
            h1 (주)이랑씨에스에 오신 것을 환영합니다.

    div(data-aos="fade").site-section
      .container
        h1 #{title} 
          span.badge.badge-secondary New
        p Welcome to #{title}
