doctype html
html
  head
    title ERANGCS
    link(href='https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900' rel='stylesheet')
    link(rel='stylesheet' href='/fonts/icomoon/style.css')
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet' href='/stylesheets/owl.carousel.min.css')
    link(rel='stylesheet' href='/stylesheets/owl.theme.default.min.css')
    link(rel='stylesheet' href='/stylesheets/owl.theme.default.min.css')
    link(rel='stylesheet' href='/stylesheets/jquery.fancybox.min.css')
    link(rel='stylesheet' href='/stylesheets/bootstrap-datepicker.css')
    link(rel='stylesheet' href='/fonts/flaticon/font/flaticon.css')
    link(rel='stylesheet' href='/stylesheets/aos.css')
    link(rel='stylesheet' href='/stylesheets/style.css')

  body(data-spy='scroll' data-target='.site-navber-target' data-offset='300')
    .site-wrap
      .site-mobile-menu.sitenavbar-target
        .site-mobile-menu-header
          .site-mobile-menu-close.mt-3
            span.icon-close2.js-menu-toggle
        .site-mobile-menu-body

      header.site-navbar.py-4.bg-white.js-sticky-header.site-navbar-target(role='banner')
        .container
          .row.align-items-center
            .col-11.col-xl-2
              a(href='http://<%=ip%>')
                img.mb-0.site-logo.text-primary(alt='logo' src='/images/logo.png' width='150rem')
            .col-12.col-md-10.d-none.d-xl-block
              nav.site-navigation.position-relative.text-right(role='navigation')
                ul.site-menu.main-menu.js-clone-nav.mr-auto.d-none.d-lg-block
                  li.has-children
                    a.nav-link(href='#about-section') 회사소개
                    ul.dropdown
                      li
                        a(href="") 회사의 역사
                      li
                        a(href="") 고객사
                      li
                        a(href="") 자격증
                  li.has-children
                    a.nav-link(href='#service-section') 주요서비스
                    ul.dropdown
                      li
                        a(href="") 시설관리
                      li
                        a(href="") 안전관리
                      li
                        a(href="") 기타
                  li
                    a.nav-link(href='#contact-section') 문의하기
                  
            .d-inline-block.d-xl-none.ml-md-0.mr-auto.py-3(style='position: relative; top: 3px;')
              a.site-menu-toggle.js-menu-toggle.text-black(href='#')
                span.icon-menu.h3

      block content
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/jquery-migrate-3.0.1.min.js')
    script(src='/javascripts/jquery-ui.js')
    script(src='/javascripts/popper.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/owl.carousel.min.js')
    script(src='/javascripts/jquery.stellar.min.js')
    script(src='/javascripts/jquery.countdown.min.js')
    script(src='/javascripts/bootstrap-datepicker.min.js')
    script(src='/javascripts/jquery.easing.1.3.js')
    script(src='/javascripts/aos.js')
    script(src='/javascripts/jquery.fancybox.min.js')
    script(src='/javascripts/jquery.sticky.js')
    script(src='/javascripts/typed.js')
    script(src='/javascripts/main.js')
