<%- include('header') -%>

<!-- [S] 광고 배너 : Start -->
<div class="section s-padding">
    <div class="container">
        <!-- Wrap-Txt-Banner Type1 : Start -->
        <div class="wrap-txt-banner type1">
            <div class="box-left">
                <h6 class="fz-24 font-bold fc-1">웅크린 생각의 힘</h6>
                <p class="fz-16 fc-1">
                    <span>웅크려 있기엔 꽤나 아까운 당신의 생각들</span>
                    <a class="fz-16 font-bold fc-1 txt-link">작가 신청하기</a>
                </p>
            </div>
            <div class="box-right">
                <img src="images/588138.png">
            </div>
        </div>
        <!-- Wrap-Txt-Banner Type1 : End -->
    </div>
</div>
<!-- [S] 광고 배너  : End -->

<!-- [S] 한 줄 배너 : Start -->
<div class="section s-padding section-slide-banner">
    <div class="container-fluid">
        <!-- Swiper : Start  -->
        <div class="swiper-container swiper-container-01">
            <div class="swiper-wrapper">
                <a class="swiper-slide">
                    <div class="box-left">
                        <img src="images/486334.png">
                    </div>
                    <div class="box-right">
                        <p class="fz-32 font-bold fc-1">평균 전환율 2.35%, 가장 좋은 전환율은 11.45% 수준인 것으로 조사되고 있습니다.</p>
                        <p class="fz-20 fc-2">높은 전환을 위한 광고 제작 9가지 법칙</p>
                        <p class="fz-20 fc-3">by 트윈위드</p>
                    </div>
                </a>
                <a class="swiper-slide">
                    <div class="box-left">
                        <img src="images/486334.png">
                    </div>
                    <div class="box-right">
                        <p class="fz-32 font-bold fc-1">평균 전환율 2.35%, 가장 좋은 전환율은 11.45% 수준인 것으로 조사되고 있습니다.</p>
                        <p class="fz-20 fc-2">높은 전환을 위한 광고 제작 9가지 법칙</p>
                        <p class="fz-20 fc-3">by 트윈위드</p>
                    </div>
                </a>
                <a class="swiper-slide">
                    <div class="box-left">
                        <img src="images/486334.png">
                    </div>
                    <div class="box-right">
                        <p class="fz-32 font-bold fc-1">평균 전환율 2.35%, 가장 좋은 전환율은 11.45% 수준인 것으로 조사되고 있습니다.</p>
                        <p class="fz-20 fc-2">높은 전환을 위한 광고 제작 9가지 법칙</p>
                        <p class="fz-20 fc-3">by b트윈워드</p>
                    </div>
                </a>
                <a class="swiper-slide">
                    <div class="box-left">
                        <img src="images/486334.png">
                    </div>
                    <div class="box-right">
                        <p class="fz-32 font-bold fc-1">평균 전환율 2.35%, 가장 좋은 전환율은 11.45% 수준인 것으로 조사되고 있습니다.</p>
                        <p class="fz-20 fc-2">높은 전환을 위한 광고 제작 9가지 법칙</p>
                        <p class="fz-20 fc-3">by 트윈위드</p>
                    </div>
                </a>
                <a class="swiper-slide">
                    <div class="box-left">
                        <img src="images/486334.png">
                    </div>
                    <div class="box-right">
                        <p class="fz-32 font-bold fc-1">평균 전환율 2.35%, 가장 좋은 전환율은 11.45% 수준인 것으로 조사되고 있습니다.</p>
                        <p class="fz-20 fc-2">높은 전환을 위한 광고 제작 9가지 법칙</p>
                        <p class="fz-20 fc-3">by 트윈위드</p>
                    </div>
                </a>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <!-- Swiper : End  -->
    </div>
</div>
<!-- [S] 한 줄 배너 : End -->

<!-- [S] 오늘아침 : Start -->
<div class="section s-padding section-today-morning">
    <div class="container">
        <div class="box-inner">
            <div class="box-left">
                <h3 class="fz-20 font-bold fc-0">오늘아침.8.21</h3>
                <i class="ico arrow right"></i>
            </div>
            <div class="box-right">
                <!-- Swiper : Start -->
                <div class="swiper-container swiper-container-02">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <span class="fz-20 font-bold fc-1">#NHN페이코</span>
                            <span class="fz-20 fc-1">페이코 보험 추천 출시</span>
                            <span class="fz-12 font-bold fc-4">NEW</span>
                        </div>
                        <div class="swiper-slide">
                            <span class="fz-20 font-bold fc-1">#NHN페이코</span>
                            <span class="fz-20 fc-1">페이코 보험 추천 출시</span>
                            <span class="fz-12 font-bold fc-4">NEW</span>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <!-- Swiper : End -->
            </div>
        </div>
    </div>
</div>
<!-- [S] 오늘아침 : End -->

<!-- [S] 최신글 & 상품 : Start -->
<div class="section s-padding">
    <div class="container">
        <div class="row">
            <div class="col col-8">
                <div class="area">
                    <!-- Wrap-Card : Start -->
                    <div class="wrap-group wrap-card type1">
                        <div class="box-header">
                            <div class="box-left">
                                <h3 class="fz-24 font-bold fc-1">최신글</h3>
                                <i class="ico arrow right"></i>
                                <span class="fz-16 fc-3">3월 10일에 게재된 콘텐츠가 5개 있습니다.</span>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col col-4">
                                    <a class="box-card">
                                        <div class="box-top">
                                            <!-- Comp-Thumb : Start -->
                                            <div class="comp-thumb">
                                                <div class="inner-thumb">
                                                    <img src="images/248136.png">
                                                </div>
                                            </div>
                                            <!-- Comp-Thumb : End -->
                                        </div>
                                        <div class="box-bottom">
                                            <p class="fz-14 fc-2">유튜버로 성공하기</p>
                                            <p class="fz-18 fc-1">콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.</p>
                                            <span class="fz-14 fc-3">by 트윈위드</span>
                                            <span class="fz-12 font-bold fc-4">OPICKER</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col col-4">
                                    <a class="box-card">
                                        <div class="box-top">
                                            <!-- Comp-Thumb : Start -->
                                            <div class="comp-thumb">
                                                <div class="inner-thumb">
                                                    <img src="images/248136_2.png">
                                                </div>
                                            </div>
                                            <!-- Comp-Thumb : End -->
                                        </div>
                                        <div class="box-bottom">
                                            <p class="fz-14 fc-2">유튜버로 성공하기</p>
                                            <p class="fz-18 fc-1">콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.</p>
                                            <span class="fz-14 fc-3">by 트윈위드</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col col-4">
                                    <a class="box-card">
                                        <div class="box-top">
                                            <!-- Comp-Thumb : Start -->
                                            <div class="comp-thumb">
                                                <div class="inner-thumb">
                                                    <img src="images/248136_3.png">
                                                </div>
                                            </div>
                                            <!-- Comp-Thumb : End -->
                                        </div>
                                        <div class="box-bottom">
                                            <p class="fz-14 fc-2">유튜버로 성공하기</p>
                                            <p class="fz-18 fc-1">콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.</p>
                                            <span class="fz-14 fc-3">by 트윈위드</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-4">
                                    <a class="box-card">
                                        <div class="box-top">
                                            <!-- Comp-Thumb : Start -->
                                            <div class="comp-thumb">
                                                <div class="inner-thumb">
                                                    <img src="images/248136.png">
                                                </div>
                                            </div>
                                            <!-- Comp-Thumb : End -->
                                        </div>
                                        <div class="box-bottom">
                                            <p class="fz-14 fc-2">유튜버로 성공하기</p>
                                            <p class="fz-18 fc-1">콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.</p>
                                            <span class="fz-14 fc-3">by 트윈위드</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col col-4">
                                    <a class="box-card">
                                        <div class="box-top">
                                            <!-- Comp-Thumb : Start -->
                                            <div class="comp-thumb">
                                                <div class="inner-thumb">
                                                    <img src="images/248136_2.png">
                                                </div>
                                            </div>
                                            <!-- Comp-Thumb : End -->
                                        </div>
                                        <div class="box-bottom">
                                            <p class="fz-14 fc-2">유튜버로 성공하기</p>
                                            <p class="fz-18 fc-1">콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.</p>
                                            <span class="fz-14 fc-3">by 트윈위드</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col col-4">
                                    <a class="box-card">
                                        <div class="box-top">
                                            <!-- Comp-Thumb : Start -->
                                            <div class="comp-thumb">
                                                <div class="inner-thumb">
                                                    <img src="images/248136_3.png">
                                                </div>
                                            </div>
                                            <!-- Comp-Thumb : End -->
                                        </div>
                                        <div class="box-bottom">
                                            <p class="fz-14 fc-2">유튜버로 성공하기</p>
                                            <p class="fz-18 fc-1">콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.</p>
                                            <span class="fz-14 fc-3">by 트윈위드</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-4">
                                    <a class="box-card">
                                        <div class="box-top">
                                            <!-- Comp-Thumb : Start -->
                                            <div class="comp-thumb">
                                                <div class="inner-thumb">
                                                    <img src="images/248136.png">
                                                </div>
                                            </div>
                                            <!-- Comp-Thumb : End -->
                                        </div>
                                        <div class="box-bottom">
                                            <p class="fz-14 fc-2">유튜버로 성공하기</p>
                                            <p class="fz-18 fc-1">콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.</p>
                                            <span class="fz-14 fc-3">by 트윈위드</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col col-4">
                                    <a class="box-card">
                                        <div class="box-top">
                                            <!-- Comp-Thumb : Start -->
                                            <div class="comp-thumb">
                                                <div class="inner-thumb">
                                                    <img src="images/248136_2.png">
                                                </div>
                                            </div>
                                            <!-- Comp-Thumb : End -->
                                        </div>
                                        <div class="box-bottom">
                                            <p class="fz-14 fc-2">유튜버로 성공하기</p>
                                            <p class="fz-18 fc-1">콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.</p>
                                            <span class="fz-14 fc-3">by 트윈위드</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col col-4">
                                    <a class="box-card">
                                        <div class="box-top">
                                            <!-- Comp-Thumb : Start -->
                                            <div class="comp-thumb">
                                                <div class="inner-thumb">
                                                    <img src="images/248136_3.png">
                                                </div>
                                            </div>
                                            <!-- Comp-Thumb : End -->
                                        </div>
                                        <div class="box-bottom">
                                            <p class="fz-14 fc-2">유튜버로 성공하기</p>
                                            <p class="fz-18 fc-1">콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.콘텐츠 마케팅 팀에는 7명외 어벤져스가 필요하다.</p>
                                            <span class="fz-14 fc-3">by 트윈위드</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Wrap-Card : End -->
                </div>
            </div>
            <div class="col col-4">
                <!-- 상품 영역 : Start -->
                <div class="area a-product">
                    <!-- Wrap-List Type2 : Start -->
                    <div class="wrap-group wrap-list type2">
                        <div class="box-header">
                            <div class="box-left">
                                <h3 class="fz-24 font-bold fc-1">상품</h3>
                                <i class="ico arrow right"></i>
                                <span class="fz-16 fc-3">11월 둘째 주 인기 상품</span>
                            </div>
                        </div>
                        <div class="box-body">
                            <a class="item-product">
                                <div class="box-left">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/8080.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                </div>
                                <div class="box-right">
                                    <p class="fz-12 fc-3">광고상품</p>
                                    <div class="title-row">
                                        <span class="fz-12 font-bold fc-4">NEW</span>
                                        <span class="fz-16 fc-1">스티비 스티비스티비 스티비스티비 스티비스티비 스티비</span>
                                    </div>
                                    <p class="fz-14 fc-2">이메일 마케팅 제작</p>
                                </div>
                            </a>
                            <a class="item-product">
                                <div class="box-left">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/8080.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                </div>
                                <div class="box-right">
                                    <p class="fz-12 fc-3">광고상품</p>
                                    <div class="title-row">
                                        <span class="fz-12 font-bold fc-4">NEW</span>
                                        <span class="fz-16 fc-1">스티비 스티비</span>
                                    </div>
                                    <p class="fz-14 fc-2">이메일 마케팅 제작</p>
                                </div>
                            </a>
                            <a class="item-product">
                                <div class="box-left">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/8080.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                </div>
                                <div class="box-right">
                                    <p class="fz-12 fc-3">광고상품</p>
                                    <div class="title-row">
                                        <span class="fz-16 fc-1">스티비 스티비</span>
                                    </div>
                                    <p class="fz-14 fc-2">이메일 마케팅 제작</p>
                                </div>
                            </a>
                            <a class="item-product">
                                <div class="box-left">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/8080.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                </div>
                                <div class="box-right">
                                    <p class="fz-12 fc-3">광고상품</p>
                                    <div class="title-row">
                                        <span class="fz-16 fc-1">스티비 스티비</span>
                                    </div>
                                    <p class="fz-14 fc-2">이메일 마케팅 제작</p>
                                </div>
                            </a>
                            <a class="item-product">
                                <div class="box-left">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/8080.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                </div>
                                <div class="box-right">
                                    <p class="fz-12 fc-3">광고상품</p>
                                    <div class="title-row">
                                        <span class="fz-16 fc-1">스티비 스티비</span>
                                    </div>
                                    <p class="fz-14 fc-2">이메일 마케팅 제작</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- Wrap-List Type2 : End -->

                    <!-- Wrap-Img-Banner : Start -->
                    <a class="wrap-img-banner">
                        <img src="images/306106.png">
                    </a>
                    <!-- Wrap-Img-Banner : End -->
                </div>
                <!-- 상품 영역 : End -->
            </div>
        </div>
    </div>
</div>
<!-- [S] 최신글 & 상품 : End -->

<!-- [S] 오픽 & 혜택 : Start -->
<div class="section s-padding">
    <div class="container">
        <div class="row">
            <div class="col col-8">
                <div class="area">
                    <!-- Wrap-List Type1 : Start -->
                    <div class="wrap-group wrap-list type1">
                        <div class="box-header">
                            <div class="box-left">
                                <h3 class="fz-24 font-bold fc-1">오픽</h3>
                                <i class="ico arrow right"></i>
                                <span class="fz-16 fc-3">11월 둘째 주 인기 콘텐츠</span>
                            </div>
                        </div>
                        <div class="box-body">
                            <a class="box-list">
                                <div class="box-left">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/200120.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                    <i class="rank-tag">1</i>
                                </div>
                                <div class="box-right">
                                    <p class="fz-14 fc-2">유튜버로 성공하기</p>
                                    <p class="fz-18 fc-1">콘텐츠 마케팅 팀에는 7명의 어벤저스가 필요하다.</p>
                                    <span class="fz-14 fc-3">by 트윈위드</span>
                                    <span class="fz-12 font-bold fc-4">OPICKER</span>
                                </div>
                            </a>
                            <a class="box-list">
                                <div class="box-left">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/200120_2.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                    <i class="rank-tag">2</i>
                                </div>
                                <div class="box-right">
                                    <p class="fz-14 fc-2">유튜버로 성공하기</p>
                                    <p class="fz-18 fc-1">같은 영상 광고 3회 이상 보면 거부감 든다 / 마이리얼 트립. 오디오 여행 가이드 투어 라이브에 투자 같은 영상 광고 3회 이상 보면 거부감 든다 / 마이리얼 트립. 오디오 여행 가이드 투어 라이브에 투자</p>
                                    <span class="fz-14 fc-3">by 트윈위드</span>
                                </div>
                            </a>
                            <a class="box-list">
                                <div class="box-left">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/200120_3.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                    <i class="rank-tag">3</i>
                                </div>
                                <div class="box-right">
                                    <p class="fz-14 fc-2">유튜버로 성공하기</p>
                                    <p class="fz-18 fc-1">같은 영상 광고 3회 이상 보면 거부감 든다 / 마이리얼 트립. 오디오 여행 가이드 투어 라이브에 투자</p>
                                    <span class="fz-14 fc-3">by 트윈위드</span>
                                </div>
                            </a>
                            <a class="box-list">
                                <div class="box-left">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/200120.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                    <i class="rank-tag">4</i>
                                </div>
                                <div class="box-right">
                                    <p class="fz-14 fc-2">유튜버로 성공하기</p>
                                    <p class="fz-18 fc-1">같은 영상 광고 3회 이상 보면 거부감 든다 / 마이리얼 트립. 오디오 여행 가이드 투어 라이브에 투자</p>
                                    <span class="fz-14 fc-3">by 트윈위드</span>
                                </div>
                            </a>
                            <a class="box-list">
                                <div class="box-left">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/200120_2.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                    <i class="rank-tag">5</i>
                                </div>
                                <div class="box-right">
                                    <p class="fz-14 fc-2">유튜버로 성공하기</p>
                                    <p class="fz-18 fc-1">같은 영상 광고 3회 이상 보면 거부감 든다 / 마이리얼 트립. 오디오 여행 가이드 투어 라이브에 투자</p>
                                    <span class="fz-14 fc-3">by 트윈위드</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- Wrap-List Type1 : End -->
                </div>
            </div>
            <div class="col col-4">
                <!-- 혜택 영역 : Start -->
                <div class="area a-benefit">
                    <!-- Wrap-Card Type3 : Start -->
                    <div class="wrap-group wrap-card type3">
                        <div class="box-header">
                            <div class="box-left">
                                <h3 class="fz-24 font-bold fc-1">혜택</h3>
                                <i class="ico arrow right"></i>
                            </div>
                        </div>
                        <div class="box-body">
                            <a class="box-card">
                                <div class="box-top">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/274152.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                </div>
                                <div class="box-bottom">
                                    <div class="title-row">
                                        <span class="fz-12 font-bold fc-4">NEW</span>
                                        <span class="fz-16 fc-1">마케팅 컨퍼런스 입장권 10% 할인 마케팅 컨퍼런스 입장권 10% 할인</span>
                                    </div>
                                    <p class="fz-14 fc-2">할인</p>
                                </div>
                            </a>
                            <a class="box-card">
                                <div class="box-top">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/274152.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                </div>
                                <div class="box-bottom">
                                    <div class="title-row">
                                        <span class="fz-12 font-bold fc-4">NEW</span>
                                        <span class="fz-16 fc-1">마케팅 컨퍼런스 입장권 10% 할인</span>
                                    </div>
                                    <p class="fz-14 fc-2">할인</p>
                                </div>
                            </a>
                            <a class="box-card">
                                <div class="box-top">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/274152.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                </div>
                                <div class="box-bottom">
                                    <div class="title-row">
                                        <span class="fz-16 fc-1">마케팅 컨퍼런스 입장권 10% 할인</span>
                                    </div>
                                    <p class="fz-14 fc-2">할인</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- Wrap-Card Type3 : End -->


                </div>
                <!-- 혜택 영역 : End -->
            </div>
        </div>
    </div>
</div>
<!-- [S] 오픽 & 혜택 : End -->

<!-- [S] 오픽커 : Start -->
<div class="section s-padding">
    <div class="container">
        <div class="row">
            <div class="col col-8">
                <div class="area a-opicker">
                    <!-- Wrap-User-Info Type1 : Start -->
                    <div class="wrap-group wrap-user-info type1">
                        <div class="box-header">
                            <div class="box-left">
                                <h3 class="fz-24 font-bold fc-1">오픽커</h3>
                                <i class="ico arrow right"></i>
                                <span class="fz-16 fc-3">이번 주 주목받은 작가들입니다.</span>
                            </div>
                        </div>
                        <ul class="box-body">
                            <li class="box-card">
                                <div class="box-top">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/Thumb_Profile_112px.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                    <i class="writer-tag"></i>
                                </div>
                                <div class="box-bottom">
                                    <p class="fz-18 fc-1">트윈워드</p>
                                </div>
                            </li>
                            <li class="box-card">
                                <div class="box-top">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/Thumb_Profile_112px.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                </div>
                                <div class="box-bottom">
                                    <p class="fz-18 fc-1">트윈워드</p>
                                </div>
                            </li>
                            <li class="box-card">
                                <div class="box-top">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/Default_Profile_112px.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                </div>
                                <div class="box-bottom">
                                    <p class="fz-18 fc-1">트윈워드</p>
                                </div>
                            </li>
                            <li class="box-card">
                                <div class="box-top">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/Thumb_Profile_112px.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                </div>
                                <div class="box-bottom">
                                    <p class="fz-18 fc-1">트윈워드</p>
                                </div>
                            </li>
                            <li class="box-card">
                                <div class="box-top">
                                    <!-- Comp-Thumb : Start -->
                                    <div class="comp-thumb">
                                        <div class="inner-thumb">
                                            <img src="images/Thumb_Profile_112px.png">
                                        </div>
                                    </div>
                                    <!-- Comp-Thumb : End -->
                                </div>
                                <div class="box-bottom">
                                    <p class="fz-18 fc-1">트윈워드트윈워드트윈워드트윈워드트윈워드</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Wrap-User-Info Type1 : End -->
                </div>
            </div>
            <div class="col col-4">
                <div class="area a-opicker-side">
                    <!-- Wrap-Img-Banner : Start -->
                    <div class="wrap-img-banner">
                        <img src="images/306106.png">
                    </div>
                    <!-- Wrap-Img-Banner : End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [S] 오픽커 : End -->

<!-- [S] 웅크린 생각의 힘 : Start -->
<div class="section s-padding">
    <div class="container">
        <div class="row">
            <div class="col col-8">
                <div class="area">
                    <!-- Wrap-User-Info Type2 : Start -->
                    <div class="wrap-group wrap-user-info type2">
                        <div class="box-header">
                            <div class="box-left">
                                <h3 class="fz-24 font-bold fc-1">웅크린 생각의 힘</h3>
                                <i class="ico arrow right"></i>
                                <span class="fz-16 fc-3">오픈애즈에서 활동하고 있는 작가들입니다.</span>
                            </div>
                            <div class="box-right">
                                <a class="fz-18 fc-1 txt-link">작가 신청하기</a>
                            </div>
                        </div>
                        <div class="box-body">
                            <!-- Swiper : Start -->
                            <div class="swiper-container swiper-container-03">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="box-card">
                                            <div class="box-top">
                                                <!-- Comp-Thumb : Start -->
                                                <div class="comp-thumb">
                                                    <div class="inner-thumb">
                                                        <img src="images/Thumb_Profile_72px.png">
                                                    </div>
                                                </div>
                                                <!-- Comp-Thumb : End -->
                                                <i class="writer-tag"></i>
                                            </div>
                                            <div class="box-bottom">
                                                <p class="fz-18 fc-1">김팀장</p>
                                                <p class="fz-14 fc-2">9년차 현업 마케터 곽태영입니다.</p>
                                            </div>
                                        </div>
                                        <div class="box-card">
                                            <div class="box-top">
                                                <!-- Comp-Thumb : Start -->
                                                <div class="comp-thumb">
                                                    <div class="inner-thumb">
                                                        <img src="images/Default_Profile_72px.png">
                                                    </div>
                                                </div>
                                                <!-- Comp-Thumb : End -->
                                                <i class="writer-tag-new"></i>
                                            </div>
                                            <div class="box-bottom">
                                                <p class="fz-18 fc-1">강팀장</p>
                                                <p class="fz-14 fc-2">9년차 현업 마케터 곽태영입니다. 늘 겸손하게 생각하겠습니다.</p>
                                            </div>
                                        </div>
                                        <div class="box-card">
                                            <div class="box-top">
                                                <!-- Comp-Thumb : Start -->
                                                <div class="comp-thumb">
                                                    <div class="inner-thumb">
                                                        <img src="images/Thumb_Profile_72px.png">
                                                    </div>
                                                </div>
                                                <!-- Comp-Thumb : End -->
                                            </div>
                                            <div class="box-bottom">
                                                <p class="fz-18 fc-1">김수한무거북이와두루미김수한무거북이와두루미김수한무거북이와두루미</p>
                                                <p class="fz-14 fc-2">9년차 현업 마케터 곽태영입니다. 늘 겸손하게 생각하겠습니다.9년차 현업 마케터 곽태영입니다. 늘 겸손하게 생각하겠습니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="box-card">
                                            <div class="box-top">
                                                <!-- Comp-Thumb : Start -->
                                                <div class="comp-thumb">
                                                    <div class="inner-thumb">
                                                        <img src="images/Thumb_Profile_72px.png">
                                                    </div>
                                                </div>
                                                <!-- Comp-Thumb : End -->
                                            </div>
                                            <div class="box-bottom">
                                                <p class="fz-18 fc-1">김팀장</p>
                                                <p class="fz-14 fc-2">9년차 현업 마케터 곽태영입니다.</p>
                                            </div>
                                        </div>
                                        <div class="box-card">
                                            <div class="box-top">
                                                <!-- Comp-Thumb : Start -->
                                                <div class="comp-thumb">
                                                    <div class="inner-thumb">
                                                        <img src="images/Thumb_Profile_72px.png">
                                                    </div>
                                                </div>
                                                <!-- Comp-Thumb : End -->
                                            </div>
                                            <div class="box-bottom">
                                                <p class="fz-18 fc-1">강팀장</p>
                                                <p class="fz-14 fc-2">9년차 현업 마케터 곽태영입니다. 늘 겸손하게 생각하겠습니다.</p>
                                            </div>
                                        </div>
                                        <div class="box-card">
                                            <div class="box-top">
                                                <!-- Comp-Thumb : Start -->
                                                <div class="comp-thumb">
                                                    <div class="inner-thumb">
                                                        <img src="images/Thumb_Profile_72px.png">
                                                    </div>
                                                </div>
                                                <!-- Comp-Thumb : End -->
                                            </div>
                                            <div class="box-bottom">
                                                <p class="fz-18 fc-1">김수한무거북이와두루미</p>
                                                <p class="fz-14 fc-2">9년차 현업 마케터 곽태영입니다. 늘 겸손하게 생각하겠습니다.9년차 현업 마케터 곽태영입니다. 늘 겸손하게 생각하겠습니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- Swiper : End -->
                        </div>
                    </div>
                    <!-- Wrap-User-Info Type2 : End -->
                </div>
            </div>
            <div class="col col-4">
            </div>
        </div>
    </div>
</div>
<!-- [S] 웅크린 생각의 힘 : End -->

