<%- include('header') -%>

<section id="section-introduce">
	<hr class="one" color="gray">
	<div class="container">
		<div class="row">
			<div class="col text-center justify-content-center ">
				<h2 style="margin-bottom: 3rem;">안전관리 시스템 개요 </h2>
				<img class="my-img" src="/images/safety_system.png" alt="안전관리 시스템 개요">
			</div>
		</div>
	</div>
</section>

<%- include('footer') -%>